@import 'tailwindcss';


*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Genos', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.form-section{
    max-width: 600px;
    min-height: 400px;
    border-radius: 4px;
    border: 1px solid #80808082;
}

.otp-input{
    border: 1px solid #80808082;
    margin: 0 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 36px;
}

#resend-button{
    cursor: pointer;
}

#resend-button:hover{
    color: blue;
}
